/* Auth.css */

.auth-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.auth-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* Allow inputs to grow and fill available space */
}

.auth-button {
    color: #fff;
    background-color: #4caf50; /* Material Green */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 150px; /* Set a fixed width */
}

.auth-button:hover {
    background-color: #388e3c; /* Darker shade of green on hover */
}

.auth-input-row {
    display: flex;
    gap: 10px; /* Adjust the gap between inputs in a row */
    width: 100%;
    margin-bottom: 10px;
}

.auth-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust the gap between buttons */
}
